<div id="tweets">
  <p>Welcome, {{currentUser}} (<a href="#" id="logout-link">logout</a>)</p>
  
  <div>
    <div class="error"></div>
    <label for="new-tweet-input">Add a new tweet:</label>
    <input type="text" id="new-tweet-input" />
    <button id="submit-new-tweet">Add</button>
  </div>
  <div>
    <label for="follow-user-input">Follow user:</label>
    <input type="text" id="follow-user-input" />
    <button id="submit-follow">Follow</button>

    
  </div>

<div class="left">
  <h1>All Tweets</h1>

  {{#each tweets}}
    {{> tweet}}
  {{else}}
    <p><em>No tweets yet!</em></p>
  {{/each}}

</div>

<div class="right">
  <h1>Following Tweets</h1>
  {{#each followingTweets}}
    {{> tweet}}
  {{else}}
    <p><em>No tweets yet!</em></p>
  {{/each}}
</div>


</div>
